<style type="text/css">

*{
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px){
	[class*="col-"]{
		width: 100%;
	}
}

.LoginButton{
	background-color: #e5e7e9;
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: lightblue;
	border-radius: 5px;
	transition-duration: 0.4s;
	width:180px;
	margin-left: calc(50% - 80px);
}

.LoginButton:hover{
	background-color: lightblue;
}

.FormInput{
	padding: 12px 20px;
	border-radius: 5px;
	border-style: solid;
	border-color:  #e5e7e9 ;
	background-color: #f8f8f8;
	resize: none;
}

.FormLabel{
	color:black;
	background-color: white;
	margin:0px;
	padding-bottom:2px;
}


.FormularDiv{
	margin-left: calc(50% - 200px);
}

	
@media only screen and (max-width: 600px){
	.CenterMargin{
		margin-left:0%;
	}
}