@import "colorConstants.css"; /*import colors*/
*{
	box-sizing: border-box;
}

body {
	background-color: var(--background-bright);
	 font-family: Arial, Helvetica, sans-serif;
}

.dark-body{
	background-color: var(--background-dark);
}

#logoPic{
	width: 150px;
	height: auto;
	margin-left: calc(100% - 230px);
}

.Title{
	color: #3289a8;
	text-align: center;
}

.dark-Title{
	color: #b8b21d;
	text-align: center;
}

.Button{
	background-color: var(--button-background-bright);
	color: var(--button-font-color-bright);
	margin: 10px;
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-bright);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:250px;
	margin-left: calc(50% - 125px);
}



.Button:hover{
	background-color: var(--button-hover-color-bright);
}


.dark-button{
	background-color: var(--button-background-dark);
	color: var(--button-font-color-dark);
	margin: 10px;
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-dark);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:250px;
	margin-left: calc(50% - 125px);
}

.dark-button:hover{
	background-color: var(--button-hover-color-dark);
}

.Darkmode-Button{
	margin-left: 10px;
	margin-top: 10px;
	height: 30px;
	width: auto;
	cursor: pointer;
}

