@import "colorConstants.css"; /*import colors*/
body {
	background-color: var(--background-bright);
}

.dark-body{
	background-color: var(--background-dark);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px){
	[class*="col-"]{
		width: 100%;
	}
}

.Button{
	background-color: var(--button-background-bright);
	color: var(--button-font-color-bright);
	margin-top: 10px;
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-bright);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:250px;
	margin-left: calc(50% - 125px);
}



.Button:hover{
	background-color: var(--button-hover-color-bright);
}

.dark-button{
	background-color: var(--button-background-dark);
	color: var(--button-font-color-dark);
	margin-top: 10px;
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-dark);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:250px;
	margin-left: calc(50% - 125px);
}

.dark-button:hover{
	background-color: var(--button-hover-color-dark);
}

@keyframes falseCredentials{
	0% {background-color: var(--highlight-color-bright);}
}

.FormInput{
	width: 400px;
	padding: 12px 20px 12px 20px;
	border-radius: 5px;
	border-style: solid;
	border-color:  var(--button-border-color-bright);
	background-color: var(--button-background-bright);
	resize: none;
	color: var(--font-color-bright);
	animation-direction: alternate;
	animation-duration: 2s;
	
}

.FormLabel{
	color: var(--font-color-bright);
	margin:0px;
	padding: 2px 2px 2px 2px;
	width: 100%;
}

.dark-FormInput{
	width: 400px;
	padding: 12px 20px 12px 20px;
	border-radius: 5px;
	border-style: solid;
	border-color:  var(--button-border-color-dark);
	background-color: var(--button-background-dark);
	resize: none;
	color: var(--font-color-dark);
	animation-direction: alternate;
	animation-duration: 2s;
}

.dark-FormLabel{
	color: var(--font-color-dark);
	margin:0px;
	padding-bottom:2px;
}


.FormularDiv{
	margin-top: calc(10%);
	margin-left: calc(50% - 222px);
}

.InfoDiv{
	border-radius: 5px;
	border-style: solid;
	border-color:  var(--highlight-color-bright);
	background-color: var(--button-background-bright);
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin: 20px 20% 20px 20%;
	display: none;
}

.dark-InfoDiv{
	border-radius: 5px;
	border-style: solid;
	border-color: var(--highlight-color-dark);
	background-color: var(--button-background-dark);
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin: 20px 20% 20px 20%;
	display: none;
}

.RegisterLabel{
	color: var(--highlight-color-bright);
	cursor: pointer;
}

.dark-RegisterLabel{
	color: var(--highlight-color-dark);
	cursor: pointer;
}

.Darkmode-Button{
	margin-left: 10px;
	margin-top: 10px;
	height: 30px;
	width: auto;
	cursor: pointer;
}