@import "colorConstants.css"; /*import colors*/

*{
	box-sizing: border-box;
}

body {
	background-color: var(--background-bright);
}

.dark-body{
	background-color: var(--background-dark);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px){
	[class*="col-"]{
		width: 100%;
	}
}

@keyframes falseCredentials{
	50% {background-color: var(--highlight-color-bright);}
}

.PicUploadButton{
	background-color: var(--button-background-bright);
	color: var(--button-font-color-bright);
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-bright);
	border-radius: 5px;
	transition-duration: 0.4s;
}

.PicUploadButton:hover{
	background-color: var(--button-hover-color-bright);
}

.dark-PicUploadButton{
	background-color: var(--button-background-dark);
	color: var(--button-font-color-dark);
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-dark);
	border-radius: 5px;
	transition-duration: 0.4s;
}

.dark-PicUploadButton:hover{
	background-color: var(--button-hover-color-dark);
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	background-color: inherit;
}

.FormInput{
	padding: 12px 20px;
	border-radius: 5px;
	border-style: solid;
	border-color:  var(--button-border-color-bright);
	background-color: var(--input-background-bright);
	resize: none;
}

.dark-FormInput{
	padding: 12px 20px;
	border-radius: 5px;
	border-style: solid;
	border-color:  var(--button-border-color-dark);
	background-color: var(--input-background-dark);
	resize: none;
}

.FormLabel{
	color: var(--font-color-bright);
	margin:0px;
	padding-bottom:2px;
}

.dark-FormLabel{
	color: var(--font-color-dark);
	margin:0px;
	padding-bottom:2px;
}

.Stroke{
	margin: 20px;
	border-style: dotted;
	border-bottom: 2px;
	border-color: grey;
}

.ProfilePicDiv{
}

.ProfilePic{
	width: 200px;
	height: auto;
	margin-left: calc(50% - 100px);
}

.FormularDiv{
}

.RegisterButton{
	background-color: var(--button-background-bright);
	color: var(--button-font-color-bright);
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-bright);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:180px;
	margin-left: calc(50% - 80px);
}

.RegisterButton:hover{
	background-color: var(--button-hover-color-bright);
}

.dark-RegisterButton{
	background-color: var(--button-background-dark);
	color: var(--button-font-color-dark);
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--button-border-color-dark);
	border-radius: 5px;
	transition-duration: 0.4s;
	width:180px;
	margin-left: calc(50% - 80px);
}

.dark-RegisterButton:hover{
	background-color: var(--button-hover-color-dark);
}

.CenterMargin{
		margin-left:25%;
		color: grey;
}
	
@media only screen and (max-width: 600px){
	.CenterMargin{
		margin-left:0%;
	}
}
.Darkmode-Button{
	margin-left: 10px;
	margin-top: 10px;
	height: 60px;
	width: auto;
	cursor: pointer;
}