@import "colors.css"; /*import colors*/

body {
  color: var(--font-color);
  background-color: var(--background);
  }

:root {
  --cursorForLink: pointer;
  --font1: Verdana, "Lucida Sans";
  --font2: Arial, serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

img {
	max-width: 65%;
    height: auto;
	cursor: var(--cursorForLink);
	margin-right: 0pt;
}

h2 {
	padding: 10px;
}


p {
	padding: 0px;
}

button {
	background-color: var(--button-background);
	color: var(--button-font-color);
	border-color: var(--button-border-color);
	cursor: var(--cursorForLink);
}

.text1 {
	font-family: var(--font1);
	font-size: 20px;
	color: var(--font-color);
	padding-top: 10px;
}

.title{
	display: block;
	font-size: 36px;
	font-family: var(--font1);
	color: #00519E;
	font-weight: bold;
	text-align: center;
}

.headerContainer {  
	background: #AAAAAA;
	display: flex;
	flex-wrap: wrap;
	column-count: 3;
}

.headerImage {
	background: #AAAAAA;
	flex: 15%;
	text-align: center;
}


.container {  
	background: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	column-count: 3;
}

@media screen and (max-width: 749px) {
  .container {   
    flex-direction: column;
  }
}



/* Menu with groups */
.left {
	flex: 15%;
	display: flex;
	flex-direction: column;
	background-color: #444444;
	font-family: var(--font1);
}




/* Center */
.center {
	flex: 85%;
	flex-direction: column;
	background-color: var(--background);
	font-family: var(--font1);
	text-align:center;
}

.footer{
	width: 100%;
	height: 10%;
	float: bottom;
	font-size: 12px;
	font-family: var(--font1);
	font-weight: bold;
	background-color: var(--background);
	color: var(--font-color);
	text-align: center;
}

.li {
	padding: 0;
	margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
	flex: 85%;
	background-color: #858585;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	height: 100%;
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 22px;;
	text-decoration: none;
	font-size: 20px;
	font-family: var(--font1);
}

/* Style the links inside the navigation bar */
.b {
	float: left;
	padding: 0;
	margin: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
	cursor: var(--cursorForLink);
	background-color: #333333;
	color: white;
}

/* Change the color of links on hover */
.topnav a.logout {
	background-color: darkred;
	color: white;
}

.topnav a.active {
	background-color: #000000;
	color: white;
}

a.logout:hover {
	background-color: #550000;
	color: white;
}

a.active:hover {
	background-color: #333333;
	color: white;
}

.header {
	font-size: 36pt;
	font-weight: bold;
	color: black;
	padding: 15px;
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: center; /* Safari 6.1+ */
	display: flex;
	justify-content: center;
	text-align: center;
}
	
.body {
	font-size: 24pt;
	color: var(--font-color);
	padding: 15px;
}
	
.button {
	font-size: 24pt;
	margin: auto;
	display: block;
}

.status {
	font-size: 24pt;
	color: green;
	padding: 15px;
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: center; /* Safari 6.1+ */
	display: flex;
	justify-content: center;
	text-align: center;
}

/* Dashboard */

.groupelement {
	align-items: center;
	margin: 2pt;
	padding: 0pt;
	border-radius: 5px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	cursor: var(--cursorForLink);

	background-color: var(--background);
	
}

.elempic {
	text-align: left;
	padding: 0pt;
	margin-right: 0pt;
	float: left;
}

.elemname {
	text-align: left;
	padding-top: 8pt;
	margin-right: 0pt;
	float: left;
	color: var(--font-color);
}

.elemstat {
	text-align: right;
	padding-right: 20pt;
	padding-top: 10pt;
	margin-right: 0pt;
	float: right;
}

.search {
	vertical-align: middle;
	width: 80%;
	position: relative;
	display: flex;
  }
  
  .searchTerm {
	width: 100%;
	border-color: grey;
	border-width: 3px;
	border-style: solid;

	background-color:var(--input-background);
	color: var(--input-font);

	padding: 5px;
	height: 20px;
	border-radius: 3px;
	outline: none;
  }
  
  .searchTerm:focus{
	color: gray;
  }
  
  .searchButton {
	width: 36px;
	height: 36px;
	padding: 0pt;
	padding-top: 3pt;
	border-color: grey;
	border-width: 3px;
	border-style: solid;
	background: gray;
	text-align: center;
	color: grey;
	border-radius: 3px;
	font-size: 20px;
  }

  .searchBarContainer{
	width: 30%;
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  /* Nächste Termine */

.eventContainer {

	width: 90%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 4%;
	
}

.nextEvent {
  display: flex;
  flex-direction: column;
	width: 100%;
	border-radius: 5px;
	border-color: grey;
	border-width: 3px;
	border-style: solid;
	color: var(--font-color);
}

.eventHeader {
  
	background-color: var(--eventHeader-background);
	border-color: grey;
	border-width: 3px;
/*	border-style: solid;*/
	color: var(--font-color);
}

.eventBody {

}

tr {
	border: 1.5px solid grey;
	padding:0px;
	margin: 0px;
}

td {
	margin: 0px;
	text-align: left;
}

th {
	background-color: var(--tableHeader-background);
	margin: 0px;
	text-align: left;
}


/* Search Results */

.searchContainer {

	width: 90%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.searchResultHeader {

	display: flex;
	align-items: center;
	margin: 0pt;
	padding-left: 20pt;
	padding-right: 20pt;
	border-radius: 5px;
	border-color: grey;
	background-color: black;
	color: grey;
	border-width: 3px;
	border-style: solid;
}

.searchResult {

	display: flex;

	align-items: center;
	margin: 5pt 20pt 5pt 20pt;
	padding: 0pt;
	border-radius: 5px;
	border-color: grey;
	border-width: 3px;
	border-style: solid;
	color: grey;
}

.searchPic {
	flex: 5%;
	text-align: left;
}

.searchName {
	flex: 35%;
	text-align: left;
	color: grey;
}

.searchPlaces {
	flex: 20%;
	text-align: left;
	color: grey;
}

.searchTime {
	flex: 20%;
	text-align: left;
	color: grey;
}

.searchJoin {
	flex: 20%;
	color: grey;
}

.searchJoinButton {
	flex: 20%;
	color: grey;
	cursor: var(--cursorForLink);
}


/* Popups */

/* popup style: */
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(100,100,100); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:var(--modal-background);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Chatansicht */
.body {
	box-sizing: border-box;
	margin: 0;
	padding: 13px;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	font-size: 16px;
  }

.darker {
	border: 2px solid #999999;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	border-color: #999999;
	background-color: #ddd;
	font-size: 16px;
	font-family: var(--font2);

}

.container img {
	float: left;
  max-width: 50px;
  max-height: 50px;
	width: 70%;
  margin: 5px;
  margin-right: 20px;
}

.container img.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.profilepic {
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
 
}
.time-right {
	color: #999999;
	font-size: 12px;
	float: right;
}

.time-left {
	color: #999999;
	font-size: 12px;
	float: left;
}

.members{
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

.preview {
	border: 1px solid #e4e4e4;
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 16px;
}

.message-form {
	display: flex;
	flex-shrink: 0;
}

.message-form-input {
	flex-grow: 1;
	border: 1px solid #dfdfdf;
	padding: 10px 15px;
	font-size: 16px;
}

.message-form-button {
	margin: 10px;
	font-size: 16px;
}

/* profile page */
input {
  color: var(--input-font);
  background: var(--input-background);
  margin: 8px 4px;
  display: table-cell;
}

label {
  display: table-cell;
}

.table-row {
  display: table-row;
}

form {
  display: table;
  width: 100%;
}