:root {
  --cursorForLink: pointer;
  --font1: Verdana, "Lucida Sans";
  --font2: Arial, serif;
}

img {
	max-width: 65%;
    height: auto;
	cursor: var(--cursorForLink);
	margin-right: 0pt;
}

h2 {
	padding: 10px;
}


p {
	padding: 0px;
}

.text1 {
	font-family: var(--font1);
	font-size: 20px;
	color: black;
	padding-top: 10px;
}

.title{
	display: block;
	font-size: 36px;
	font-family: var(--font1);
	color: #00519E;
	font-weight: bold;
	text-align: center;
}

.headerContainer {  
	background: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	column-count: 3;
}

.headerImage {
	flex: 15%;
	text-align: center;
}


.container {  
	background: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	column-count: 3;
}

@media screen and (max-width: 749px) {
  .container {   
    flex-direction: column;
  }
}



/* Menu with groups */
.left {
	flex: 15%;
	display: flex;
	flex-direction: column;
	background-color: #CCCCCC;
	font-family: var(--font1);
}




/* Center */
.center {
	flex: 85%;
	flex-direction: column;
	background-color: #FFFFFF;
	font-family: var(--font1);
	text-align:center;
}

.footer{
	width: 100%;
	height: 10%;
	float: bottom;
	font-size: 12px;
	font-family: var(--font1);
	font-weight: bold;
	color: #3876B0;
	text-align: center;
}

.li {
	padding: 0;
	margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
	flex: 85%;
	background-color: #000000;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	height: 100%;
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 22px;;
	text-decoration: none;
	font-size: 20px;
	font-family: var(--font1);
}

/* Style the links inside the navigation bar */
.b {
	float: left;
	padding: 0;
	margin: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	cursor: var(--cursorForLink);
	color: black;
}

/* Change the color of links on hover */
.topnav a.logout {
	background-color: darkred;
	color: white;
}

.topnav a.active {
	background-color: grey;
	color: white;
}

a.logout:hover {
	background-color: lightred;
	color: black;
}

a.active:hover {
	background-color: #ddd;
	color: black;
}

.header {
	font-size: 36pt;
	font-weight: bold;
	color: black;
	padding: 15px;
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: center; /* Safari 6.1+ */
	display: flex;
	justify-content: center;
	text-align: center;
}
	
.body {
	font-size: 24pt;
	color: black;
	padding: 15px;
}
	
.button {
	font-size: 24pt;
	margin: auto;
	display: block;
}

.status {
	font-size: 24pt;
	color: green;
	padding: 15px;
	display: -webkit-flex; /* Safari */
	-webkit-justify-content: center; /* Safari 6.1+ */
	display: flex;
	justify-content: center;
	text-align: center;
}

/* Dashboard */

.groupelement {
	align-items: center;
	margin: 2pt;
	padding: 0pt;
	border-radius: 5px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	cursor: var(--cursorForLink);
}

.elempic {
	text-align: left;
	padding: 0pt;
	margin-right: 0pt;
	float: left;
}

.elemname {
	text-align: left;
	padding-top: 8pt;
	margin-right: 0pt;
	float: left;
}

.elemstat {
	text-align: right;
	padding-right: 20pt;
	padding-top: 10pt;
	margin-right: 0pt;
	float: right;
}

/* Popups */

/* popup style: */
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(100,100,100); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Chatansicht */
.body {
	box-sizing: border-box;
	margin: 0;
	padding: 13px;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	font-size: 16px;
	font-family: Arial, serif;
  }

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	font-size: 16px;
	font-family: Arial, serif;
}

.darker {
	border: 2px solid #dedede;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	border-color: #cccccc;
	background-color: #ddd;
	font-size: 16px;
	font-family: Arial, serif;
}

.container::after {
	content: "";
	clear: both;
	display: table;
}

.container img {
	float: left;
	max-width: 50px;
	width: 70%;
	margin-right: 20px;
	border-radius: 50%;
}

.container img.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.time-right {
	float: right;
	color: #aaaaaa;
	font-size: 12px;
	font-family: Arial, serif;
}

.time-left {
	float: left;
	color: #999999;
	font-size: 12px;
	font-family: Arial, serif;
}

.members-count,
.members-list {
	border: 1px solid #e4e4e4;
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 16px;
	font-family: Arial, serif;
}

.message-form {
	display: flex;
	flex-shrink: 0;
}

.message-form-input {
	flex-grow: 1;
	border: 1px solid #dfdfdf;
	padding: 10px 15px;
	font-size: 16px;
	font-family: Arial, serif;
}

.message-form-button {
	margin: 10px;
	font-size: 16px;
	font-family: Arial, serif;
}
